venv/

# Настройки IDE
.vscode/

# файлы авторизации и токены
credentials.json
token.pickle

# Скомпилированные файлы Python
*.pyc
*.pyo
__pycache__/

# Временные файлы
*.log
*.bak

# Презентации или другие большие файлы, которые генерируются
output/